/* styles the image in the header */
.imghead {
    display: block;
    padding: .5em;
}

/* styles all h1 headers */
h1 {
    padding: .5em;
    font-family: sans-serif;
}

/*styles all h2 headers */
h2 {
    padding: .5em;
    font-family: sans-serif;
}

/* styles all h3 headers */
h3 {
    padding: .2em;
    font-family: sans-serif
}

/* style individual sections on the index page */
.pstyle {
    width: 50%;
    padding: .5em;
    text-align: center;
    width: 60%;
}

/* styles the page for a 2 column layout */
main {
    width: 50%;
    border-right: 3px solid #013369;
    float: left;
    
}

/* sets the width for the 2nd column */
aside {
    width: 50%;
    float: right;
}

/* styles images on all pages */
.hpimg {
    margin: 2em;
    border: 5px solid #013369;
    border-radius: 25px;
    display: block;
}

/* styles the blimp on the index page */
.hpblimp {
    margin: 5em;
    border: 5px solid #013369;
    border-radius: 25px;
    text-align: center;
    background-color: yellow;
}

/* styles the footer */
footer {
    float: left;
    clear: both;
    border: 2px solid #013369;
    text-align: right;
    width: 100%;
    background-color: #CED4DA;
    padding: 1em;
}

/* styles the body */
body {
    font-family: sans-serif;
    background-color: #013369;
}

/* adds a bottom border to the header */
header {
    border-bottom: 2px solid #013369;
}

/* styles all h3 headers */
h3 {
    text-align: center;
    font-weight: bolder;
}

/* styles paragraphs on the index page */
.tc {
    text-align: center;
}

/* styles the list elements */
li {
    margin-right: 10px;
    margin-left: .5em;
    padding: .05em;
}

/*changes the background color for the body of the page */
.bodys {
    background-color: white;
}

/* removes underline for links when hovered */
a:hover {
    text-decoration: none;
}

/* styles the rows in a table */
.trs {
    border-bottom: 3px solid #013369;
}

/* adds padding to the table header and table data rows */
th, td {
    padding: 8px;
}

/* styles the tables on the standings page */
table {
    border: 3px solid #013369;
    background-color: lightgray;
    padding-bottom: .5em;
    margin-left: 2%;
    font-family: sans-serif;
}

/* adds padding to the individual elements in the form */
#form {
    padding: .5em;
}

/* adds padding to the video element on the contact us page */
.media {
    padding: .8em;
}

/* adds styling to the buttons on the contact us page */
.button {
    font-size: 12px;
    background-color: #013369;
    color: white;
    border-radius: 8px;
}

